<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Virtual Tourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6841BB191D5AB01B0016847A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6841BB2D1D5AB01C0016847A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6841BB381D5AB01C0016847A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
